.el-table {
  font-size: 12px !important;
}
.header #tab-home {
  position: fixed;
  left: -80px;
}
.header .tabs .el-tabs__nav {
  margin-left: 90px;
  height: 28px;
}
.header .school-info {
  font-size: 12px;
  line-height: 0;
  padding-right: 10px;
}
.header .text_right {
  text-align: right;
}
.header .first_school {
  position: relative;
}
.header .first_school img {
  transform: translateY(5px);
}
.header .h30 {
  height: 30px;
  text-align: center;
}
.header .user-info {
  padding-right: 0px;
  float: none;
  display: flex;
}
.header .col_df {
  height: 30px;
}
.header .el-button--primary.is-plain {
  color: #bfd8d9;
  background: #11b5ba;
  margin-top: 3px;
}
.header .col_df {
  height: 24px;
  border: none;
}
.header .el-button--mini {
  padding: 3px 5px 0px 5px;
}
.header b {
  display: inline-block;
}
.header .tc {
  font-size: 13px;
  margin-left: 5px;
  letter-spacing: 1px;
}
.header .el-dropdown-link {
  padding-left: 0 !important;
  width: 65px;
  height: 28px;
  display: flex;
}
.header .fgx {
  margin: 0px -3px 0px 19px;
  color: #11b5ba;
}
.header .el-dropdown-link:hover {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.3);
}
.searchWrap .el-date-editor.el-range-editor {
  height: 25px !important;
}
.el-date-editor .el-range__icon {
  top: 0px !important;
}
.el-date-editor .el-range-separator {
  top: 0px !important;
  line-height: 14px !important;
}
.el-range-editor.el-input__inner {
  padding: 6px 10px;
}
.el-input-group {
  width: 81% !important;
}
.el-input-group__append {
  padding: 0 10px !important;
  position: relative;
}
.el-input-group__append button {
  position: absolute;
  top: 7px;
  left: -2px;
}
.min_width .el-input--suffix {
  min-width: 140px;
}
.width_sp111 .el-input--suffix {
  width: 150px !important;
}
.width_sp .el-input--suffix {
  width: 105px !important;
}
.abs_search {
  top: 15px !important;
  left: -1px !important;
}
.paginationWrap {
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 100%;
  height: 5vh;
  text-align: center;
}
.school-az {
  width: 100%;
  padding: 20px !important;
}
.school-az .el-dialog__body {
  padding: 30px 45px !important;
  font-size: 14px;
}
.school-az .Letter {
  display: flex;
  justify-content: center;
}
.school-az .Letter .letter_flex {
  cursor: pointer;
  border-bottom: 1px solid #DCDFE6;
  color: #b9bcc3;
  width: 130px;
  margin: 20px 0;
  padding: 5px 0;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
.school-az .Letter .letter_hover {
  border: 1px solid #DCDFE6;
  border-top: #2ab1e8 2px solid;
  border-bottom: none;
  color: #2ab1e8;
}
.school-az .school_classification .school_zm {
  display: flex;
  margin: 10px 0;
}
.school-az .school_classification .school_zm p {
  display: block;
  font-size: 17px;
  font-weight: 400;
  color: #5e6067;
  width: 100px;
  text-align: center;
}
.school-az .school_classification .school_zm .school_name_to {
  width: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.school-az .school_classification .school_zm .school_name_to div {
  cursor: pointer;
  text-align: left;
  padding: 0px 10px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.el-step__icon {
  display: none !important;
}
.el-step {
  flex-basis: 13% !important;
}
.width_sp111 .el-input__suffix {
  top: 0px !important;
}
.width_sp111 .el-input__suffix i {
  color: red !important;
}
.el-input .el-input__suffix {
  top: 2px;
}
.el-input .el-input__suffix i {
  color: red !important;
}
.course_add .el-step.is-simple .el-step__title {
  font-size: 12px;
  line-height: 10px;
  max-width: 70% !important;
}
.course_add .el-steps--simple {
  padding: 17px 8%;
}
.course_add .el-step__title {
  max-width: 77%;
}
.course_add .el-step__main {
  position: relative;
  width: 94px !important;
  flex-grow: 0 !important;
  max-width: 100% !important;
}
.course_add .el-step__main .el-step__arrow {
  top: 17px;
  left: 87px;
}
.course_add .el-step__main .is-process {
  font-weight: normal;
  color: #2ab1e8;
}
.paginationWrap {
  bottom: 0px;
}
.school_xz {
  margin: -10px 0px !important;
  padding: 2px 10px 0px 5px !important;
  border-radius: 2px;
}
.el-form-item__label {
  padding: 0 4px 0 0 !important;
}
.bg {
  height: 31px !important;
}
.bg .el-button--mini {
  padding: 2px 10px 0 5px !important;
}
.descending {
  bottom: 1px !important;
}
.edui-combox-body {
  height: 24px !important;
}
.el-collapse-item__header {
  font-size: 12px;
}
.Explain {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  line-height: 20px;
}
.dialog_box .el-dialog__body {
  padding: 0;
}
.el-input__icon {
  line-height: 0 !important;
}
.el-collapse-item__content {
  font-size: 12px !important;
}
.el-tree-node__label {
  font-size: 12px;
}
.el-checkbox__label {
  font-size: 12px;
}
.item_tooltip {
  margin: 4px;
}
.el-tooltip__popper {
  padding: 6px !important;
  color: #555 !important;
}
.el-tooltip__popper.is-light {
  background: #f4f4f4 !important;
  border: 1px solid #aeaeae !important;
}
.el-tooltip__popper.is-light[x-placement^="left"] .popper__arrow::after {
  border-left-color: #f4f4f4 !important;
}
.el-tooltip__popper.is-light[x-placement^="left"] .popper__arrow {
  border-left: 5px solid #aeaeae !important;
}
.close .el-dialog {
  margin-top: 7vh !important;
}
.el-form-item__content {
  line-height: 30px !important;
}
.el-message-box {
  border: none !important;
}
.select_input {
  padding: 0 !important;
  border-radius: 0;
}
.select_input .el-input__inner {
  padding: 0 15px;
  text-align: center;
}
.select_input .el-input .el-input__icon {
  font-size: 12px;
  width: 10px;
  height: 0;
}
.input_input {
  padding: 0 !important;
  border-radius: 0;
}
.input_input .el-input__inner {
  padding: 0 3px;
}
.form_data {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.form_data .el-form-item {
  margin: 5px 0px !important;
}
.form_data .el-button {
  margin: 8px 5px !important;
  transform: translateY(3px);
}
.width_200 {
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table_cell .cell {
  width: 180px !important;
}
.xpqd {
  font-size: 16px;
  margin: 15px 0;
}
.disply_flex_box {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.disply_flex_box .el-upload {
  height: 80px !important;
  width: 120px !important;
}
.disply_flex_box .el-input {
  margin-left: 10px;
}
.disply_flex_box .avatar {
  height: 80px !important;
  width: 120px !important;
}
